div{
    margin: 0px 400px 10px;
    padding: 1px 50px 50px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.71);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.71);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.71);
}
h3{
    text-align: center;
}
.foto{
    margin: 0px 35%;
}
.motivation{
    border-top: 1px solid black;
    padding-top: 20px;
}
.contact{
    border-top: 1px solid black;
    padding-top: 20px;
}
.feedback{
    border-top: 2px solid gray;
    padding-top: 20px;
}
body{
    background-color: darkgrey;
}
